/*@media screen and (max-width: 1050px) {
  .menu {
    margin-left: -90px;
  }

  .contDTP > div:last-child .pinkTriangle {
    margin-left: 335px;
  }

  .menu li a {
    font-size: 12px;
  }

  .contDTP > div:first-child .blueSquare {
    padding: 50px 30px 50px 30px;
  }
}*/
